*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1{
    height: 490px;
    width: 350px;
    border: 1px solid black;
    position: relative;
    padding: 20px;
    top: 50px;
    left: 35%;
    background-color: blue;
}

.box2{
    height: 480px;
    width: 340px;
    border: 1px solid black;
    position: fixed;
    padding: 20px;
    top: 55px;
    left: 35.5%;
    background-color: white;
    border-radius: 10px;
}

img{
    height: 70px;
    position: absolute;
    left: 150px;
    top: 40px;
}

h2{
    display: flex;
    justify-content: center;
    color: blue;
    font-style: italic;
}

hr{
    position: relative;
    top: 60px;
}

.questions{
    position: absolute;
    left: 50px;
    top: 120px;   
}

.questions h4{
    font-weight: bolder;
    font-style: italic;
}

.submit{
    position: absolute;
    bottom: -60px;
    background-color: green;
}

.line{
    top: 10px;
    width: 330px;
    left: -30px;
}
#Btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 360px;
    border-radius: 20px;
  }

  #result{
    background-color: cyan;
    border: 1px solid black;
    height: 70px;
    width: 190px;
    position: relative;
    left: 170px;
    top: -60px;
    border-radius: 12px;
    text-align: center;
    margin-left: -20px;
    
}